:root {
    --font-heading: 'Audiowide', sans-serif;
    --font-body:    'Exo 2', sans-serif;
  
    --fs-base:      1rem;      /* 16px */
    --fs-p:         0.875rem;  /* 14px */
    --fs-h:         2rem;      /* 32px */
  
    --lh-base:      1.6;
  }