<div class="binding-container">
    <div class="stars"></div>
    <div class="content">
        <h1>Escolha um foguete para decolar</h1>
        <div class="container-rockets">
            @for (item of listRockets; track $index; let i = $index) {
            <div>
                <h1>{{item.name}}</h1>
                <app-foguete [color]="item.color" [rocketIndex]="i" (onRocketSelectEmiit)="selectedRocket(i)"
                    [isSelected]="indexRocket === i" />
                @if(!(indexRocket === -1) && i === indexRocket) {
                <button mat-raised-button color="accent"  (click)="decolar()">DECOLAR</button>
                }
            </div>
            }
        </div>
        <!-- Diferente do index inicial -->

    </div>
</div>