<div class="container">
    <app-stars />

    <p>criacao-foguete works!</p>
    @if(!nomeEstaAdicionado) {
    <div class="content">
        <h1>Comandante, qual o nome da sua nave?</h1>
        <!-- Two way data binding -->
        <input type="text" [(ngModel)]="newName" placeholder="Digite o nome da nave" />
        @if(newName.length > 0) {

        <p>
            Customize
            <strong>{{ newName }}</strong> 🚀
        </p>
        <button mat-raised-button color="primary" (click)="adicionarNome()">CUSTOMIZAR</button>
        }

    </div>
    }
    @else if(!corEstaAdicionada) {

    <div class="content">
        <h1>Digite a cor da {{newName}}</h1>
        <input type="text" [(ngModel)]="newColor" /><br>
        <button mat-raised-button color="accent" (click)="adicionarCor()" [style.marginTop]="'20px'">CRIAR
            FOGUETE</button>
    </div>
    }
    @else {
    <div class="content">
        <h1 color="accent">Foguete criado!</h1>

        <button mat-raised-button color="primary" (click)="criarOutroFoguete()"
            [style.margin]="'20px 20px 0px 0px'">CRIAR OUTRO</button>
        <button mat-raised-button color="accent" (click)="listarFoguetes()" [style.marginTop]="'20px'">LISTAR</button>
        <app-foguete [color]="newColor" />
    </div>
    }
</div>